*{
    margin: 0;
}

.contenedor{
    background-image: linear-gradient(
    to bottom,
    rgb(101, 0, 148),
    rgba(255, 0, 195, 0.931)
  ), url("Hello-Kitty-Logo.png");
    width: 100vw;
    height: 100vh;
    text-align: center;
}

p{
    color: pink;
    font-size: xx-large;
    padding: 15%;
}

button{
    color: rgb(63, 0, 63);
    font-size: xx-large;
    padding: 0.75em;
}

#yesBtn{
    transform: translate(-100%,0);
}

#noBtn{
    position: absolute;
}